.button {
  @extend %text;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-primary-dark;
  background-color: $color-accent;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 80px;
  outline: none;
  cursor: pointer;
  transition: background-color 150ms linear;
}
.button:hover,
.button:focus {
  background-color: $color-accent-hover;
}
.button:disabled {
  cursor: not-allowed;
  color: $color-primary-light;
  background-color: $color-disabled;
}
