.radio {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 7px;
}
.radioInput {
  width: 20px;
  height: 20px;
  margin: 0;
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 1px solid $color-secondary-light;
  border-radius: 50%;
}
.radioInput:checked {
  box-shadow: 0 0 0 1px $color-accent-secondary;
  background-color: $color-accent-secondary;
  border-width: 4px;
  border-color: $color-back;
}
