*{
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
:root{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    color: $color-primary-dark;
    margin: 0;
    background-color: $color-back;
    // place-items: center;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	// object-fit: cover;
}

a {
	display: inline-block;
	text-decoration: none;
}

address {
	font-style: normal;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}