.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
}
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	padding: 0 16px;
	@media screen and (min-width: $bp-tablet) {
		max-width: 768px;
		padding: 0 32px;
	}
	@media screen and (min-width: $bp-desktop) {
		max-width: 1024px;
		padding: 0 60px;
	}
	@media screen and (min-width: $bp-wide) {
		max-width: 1170px;
		padding: 0
	}
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
// .no-scroll {
//   overflow: hidden;
// }
