$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 2560px;
:root {
	--color-primary-dark: rgba(0, 0, 0, 0.87);
    --color-secondary-dark: #7E7E7E;
	--color-primary-light: #FFFFFF;
	--color-secondary-light: #D0CFCF;
	--color-accent: #F4E041;
	--color-error: #CB3D40;
	--color-accent-hover: #FFE302;
	--color-back: #F8F8F8;
}

$color-primary-dark: var(--color-primary-dark);
$color-secondary-dark: var(--color-secondary-dark);
$color-primary-light: var(--color-primary-light);
$color-secondary-light: var(--color-secondary-light);
$color-accent: var(--color-accent);
$color-accent-hover: var(--color-accent-hover);
$color-back: var(--color-back);
$color-error: var(--color-error)
