$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 2560px;
:root {
	--color-primary-dark: rgba(0, 0, 0, 0.87);
    --color-secondary-dark: #7E7E7E;
	--color-primary-light: #FFFFFF;
    --color-secondary-light: rgba(255, 255, 255, 0.87);
	--color-accent: #F4E041;
	--color-accent-hover: #FFE302;
}

$color-primary-dark: var(--color-primary-dark);
$color-accent: var(--color-accent);
$color-accent-hover: var(--color-accent-hover);
